<div class="header">
    <div class="infoText">software engineer based in Milan<br>+39 349 0931044</div>

    <div class="icons">
        <a href="https://www.instagram.com/anton.wav/" target="_blank" class="icon icon-instagram">
            <img class="invert" src="../../assets/img/instagram-ico.png">
        </a>

        <a href="https://www.linkedin.com/in/anton-fancello/" target="_blank" class="icon icon-linkedin">
            <img class="invert" src="../../assets/img/linkedin-ico.png">
        </a>

        <a href="mailto:antonfancello@outlook.com" class="icon icon-mail">
            <img class="invert" src="../../assets/img/mail-ico.png">
        </a>
    </div>
</div>