<div class="about">
  <div class="back" (click)="emitChangeView()">Back to Home</div>

  <img class="portrait" src="../../assets/img/portrait.png">

  <div class="bio">
    Nice to meet you, Name's Anton. I'm an italian developer, born in '95 in the
    island of Sardinia.<br />
    My youth is spent in the early 2000s cultivating my first passions, which
    will accompany me to this day: Music (guitar playing), Videogames and
    everything related to tech.<br />
    My early education, moved by my love for japanese role-playing videogames
    and their complex strategies, is of scientific nature, where i quickly find
    math to be my favourite subject. Because of that, at the age of 14 I will
    choose a scientific path for high school: the "Liceo Scientifico". Here I
    will further delve into scientific subjects such as physics and chemistry,
    and start messing up with computer science as a hobby, building my first
    applications.<br /><br />
    My adult education, after a couple years of work and research of what i
    really liked (during which I took the IELTS Academic to achieve a C1 level
    proficiency in English) was then quickly put on the Computer Science road. I
    studied in <i>Milan</i>, heart of the tech world in Italy, at the
    "University of Milan-Bicocca". Here I've done my most important experiences,
    where I spent half of my college time meeting new people and exploring new
    concepts in the bustling city of Milan and the other half with the challenge
    of remote studying and going back to my dear Sardinia.<br /><br />
    After my college degree I then quickly started my first work experiences as
    a developer, taking an internship where i could better my
    <i>Java</i> skills, as well as learning the fundamentals of backend
    development using frameworks like <i>Spring</i>, <i>Hibernate</i>, and how
    to work with <i>SQL</i> and <i>noSQL</i> databases. In my working
    experiences i could also tackle frontend development, where i learned how to
    incorporate in my skillset things like <i>Javascript/Typescript</i>,
    <i>HTML and CSS</i>, but also frameworks like <i>Angular</i> and
    <i>React</i>.<br /><br />
    Right now I'm based in Milan and working as a fullstack developer. Wanna
    know more or reach out to me? You can find my main socials on the top of the
    page, as well as a contact form in the bottom of this page. I'll reach out
    as soon as possible and thanks for showing interest.<br /><br />
    <i>A sa salude!</i>
  </div>

  <div class="contact">Contact me!</div>

  <div class="fields">
    <form action="https://formspree.io/f/mlevdpaq" method="POST">
      <textarea
        class="message"
        name="message"
        placeholder="Your Message..."
      ></textarea>
      <input
        class="email"
        type="email"
        name="email"
        placeholder="Your Email..."
      />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
