<div class="about">
  <div class="back" (click)="emitChangeView()">Back to Home</div>

  <img class="portrait" src="../../assets/img/portrait.png">

  <div class="bio">
    Nice to meet you, I'm Anton. I'm an Italian developer, born in '95 on the island of Sardinia.
    <br/>
    My youth was spent in the early 2000s cultivating my first passions, which continue to accompany me to this day:
    Music (guitar playing), Videogames, and everything related to tech.
    <br/>
    Driven by my love for Japanese role-playing video games and their complex strategies, my early education had a
    scientific focus. I quickly found math to be my favorite subject. At the age of 14, I chose a scientific path for
    high school: the "Liceo Scientifico". Here, I delved further into scientific subjects such as physics and chemistry,
    while also beginning to experiment with computer science as a hobby, building my first applications.
    <br/><br/>
    Following a couple of years spent working and exploring my interests, during which I achieved a C1 level proficiency
    in English by taking the IELTS Academic, I swiftly transitioned to the field of Computer Science. I studied in
    <i>Milan</i>, the heart of the tech world in Italy, at the "University of Milan-Bicocca". Here, I had some of my most
    formative experiences, spending half of my college time meeting new people and exploring new concepts in the
    bustling city of Milan, and the other half with the challenge of remote studying while returning to my dear
    Sardinia.
    <br/><br/>
    After obtaining my college degree, I quickly embarked on my first work experiences as a developer. I took on an
    internship to refine my <i>Java</i> skills, while also learning the fundamentals of backend development using frameworks
    like <i>Spring</i> and <i>Hibernate</i>, as well as working with <i>SQL</i> and <i>NoSQL</i> databases. During my work experiences, I also
    gained proficiency in frontend development, learning to incorporate technologies such as <i>Javascript/Typescript</i>,
    <i>HTML</i>, and <i>CSS</i>, as well as frameworks like <i>Angular</i> and <i>React</i>.
    <br/><br/>
    Currently, I am based in Milan and working as a full-stack developer. Interested in knowing more or reaching out to
    me? You can find my main socials at the top of the page, as well as a contact form at the bottom. I'll get back to
    you as soon as possible. Thanks for showing interest.
    <br/><br/>
    <i>A sa salude!</i>
  </div>

  <div class="contact">Contact me!</div>

  <div class="fields">
    <form action="https://formspree.io/f/mlevdpaq" method="POST">
      <textarea
        class="message"
        name="message"
        placeholder="Message..."
        required
      ></textarea>
      <input
        class="email"
        type="email"
        name="email"
        placeholder="Email..."
        required
      />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
